<style>
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
position: fixed;
         bottom: -122;
        right: 6;
       z-index: 2;

}
.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;

}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead
{
        th
        {
            background-color: #55608f;
        }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
      }
    }
  }
}
</style>
<div class="container">

        <div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Difficulty</th>
        <th>Recipe Page</th>

      </tr>
    </thead>
    <tbody>
      {% for obj in mainn %}
      <tr>
        <td>{{ obj.fullname }}</td>
        <td>{{ obj.Time }}</td>
        <td>{{ obj.Difficulty }}</td>
              <form action="{% url 'RecipePagee' obj.id %}" method="post">
    {% csrf_token %}

            <input id="search" name="search" type="hidden" class="query-search"
            placeholder="Search..." value={{ obj.id}} >
         <td>   <input class="btn btn-primary" type="submit" value="Lets go"><td>

            </form>


        <td>



        </td>


      </tr>
    {% endfor %}

    </tbody>
  </table>
    </form>
     <form method="GET" action="/neww">
        <button class="btn-bgstroke">
                    Exit
                </button>
             </form>
    </tbody>
</div>

</div>